.verif{
    max-width: 300px;
    border-radius: 5px;
    display: grid;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    width: 90%;
    box-shadow: 0px 0px 10px gainsboro;
}


.verif .email{
    font-size: 20px;
    margin: 10px;
}
.verif input{
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid gainsboro;
    max-width: 50%;
    margin: auto;
}

.verif .confirm{
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
    padding: 10px;
    border: none;
    margin: 5px;
    transition: 0.2s;


}

.verif .resend{
    width: max-content;
    background: none;
    border: none;
    color: rgb(10, 35, 98);
    margin: 10px auto;
}

.verif .resend:hover{
    color: dodgerblue;
}

.verif .confirm:hover{
    background-color: grey;
}

.verif .msg{
    color: orange;
}

.verif a{
    text-decoration: none;
}
.verif a:hover{
    color: dodgerblue;
}

