.home .flat_detail{
    display: grid;
    grid-template-columns: 50% 50%;
}

.home .flat_detail .rows > *{
    padding: 4px;
    align-items: center;
    display: flex;
}

.home .flat_detail > *{
    padding: 10px;
}

.home .flat_detail .name {
    font-size: 24px;
    font-weight: bold;  
}

.home .flat_detail .price{
    background: steelblue;
    color: white;
    width: max-content;
    border-radius: 10px;
}


.flat_edit .main_img{
    width: 300px;
    height: 300px;
    object-fit: contain;
}


@media screen and (max-width:500px) {
    .home .flat_detail{
        display: grid;
        grid-template-columns: auto;
    }
    
}
