.profile_flats .item img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;

}

.profile_flats .item{
    display: grid;
    width: 120px;
    height: max-content;
    border-radius: 5px;
    border: 1px solid gainsboro;
    margin: 5px;
    font-size: 13px;
    text-decoration: none;
    padding: 2px;
}

.profile_flats .actions{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.profile_flats  .name{
    font-weight: bolder;
}


