.profile_cars .item{
    width: 200px;
    overflow: hidden;
    text-decoration: none;
    padding: 5px;
    transition: 0.3s;
    
}

.profile_cars .item img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.profile_cars .item:hover{
    background: gainsboro;
}