
.restore_password{
    display: grid;
    
    margin: auto;
    width: 300px;
}

.restore_password > *{
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
}

.restore_password input{
    border: 1px solid gainsboro;
   
}

.restore_password button{
    background: rgb(10, 35, 98);
    color: white;
    border: none;
   
}

.restore_password button:hover{
    background: grey;
}

.restore_password h3{
    justify-content: center;
}