
.car_detail{
    display: grid;
    justify-content: center;
    margin: auto;
}

.car_detail .mySlider .imgList{
    display: flex;
    padding: 5px;
    overflow-x: auto;
}


.car_detail .mySlider .imgList img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin: 5px;
    border: 1px solid  gainsboro;
    border-radius: 10px;
}


.car_detail .mySlider .imgList img:hover{
    box-shadow: 0px 0px 10px grey;
}

 .car_detail .products {
    display: flex;
    flex-wrap: wrap;
}

.car_detail .products .item{
    box-shadow: 0px 2px 10px grey;
    width: max-content;
    margin: 5px;
    overflow: hidden;
    display: grid;
    text-align: center;
}

.car_detail .item img{
    width: 140px;
    height: 140px;
}


.car_detail .viewed {
    color: grey;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid gainsboro;
    margin: 10px 0px ;
    box-shadow: 2px 2px 2px gainsboro;
}


.car_detail .viewed div{
    display: flex;
    align-items: center;
    margin: 0px 10px;
}


.car_detail .phone > *{
    margin: 2px;
    cursor: pointer;
}

.car_detail .actions{
    display: flex;
    justify-content: flex-end;
   
}
.car_detail .actions >*{
    border: 1px solid gainsboro;
    background: none;
    color: grey;
    border-radius: 5px;
    padding: 5px;
    font-size: 13px;
    cursor: pointer;
    text-decoration: none;
    margin: 2px;
    transition: 0.3s;
}

.car_detail .actions >*:hover{
    box-shadow: 0px 2px 5px grey;
}



@media screen and (max-width:400px) {
    
    
}