

.product_edit .main_img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}


.product_edit .properties{
    display: grid;
    height: max-content;
    max-width: 400px;
}

.product_edit .properties label{
    font-size: 13px;
    color: grey;
    margin-top: 5px;
}

.product_edit .img_actions >*{
    margin: 2px;
    background: gainsboro;
    border-radius: 5px;
    padding: 2px;
}

.product_edit .images img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
}

.product_edit .save{
    background: green;
    color: white;
    border-radius: 5px;
    padding: 5px;
    border: none;
    width: max-content;
}


.product_edit .btns button{
    margin: 2px;
}

