.home .lenta .item{
    border: 1px solid gainsboro;
    display: grid;
    overflow: hidden;
    width: 350px;
    height: max-content;
    text-decoration: none;
    color: rgb(10, 35, 98);
    transition: 0.5s;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.home .lenta .items{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



@media screen and (max-width: 500px) {
    .home .lenta .item {
      width: auto;
    }

    .home .lenta .items{
        display: grid;
        justify-content: center;
    }
}

.home .lenta .text{
    font-size: 12px;
}

.home .lenta .item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.home .lenta .item .customer >*{
    margin: 2px;
}

.home .lenta .item .customer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: max-content;
    text-decoration: none;
}

.home .lenta .item .customer img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid gainsboro;

}

.home .lenta .item .view {
    display: flex;
    align-items: center;
    margin: 10px;
}


.home .lenta .item .view >*{
    margin: 2px;
}


.home .lenta_detail {
    display: grid;
    max-width: 600px;
    margin: auto;
}

.home .lenta_detail .images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid gainsboro;
}


.home .lenta_detail .images img{
    width: 150px;
    height: 150px;
    object-fit: contain;
    border: 1px solid gainsboro;
}

.home .lenta_detail .customer img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid gainsboro;
}

.home .lenta_detail .customer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: max-content;
    text-decoration: none;
}


.home .lenta_detail .customer >*{
    margin: 2px;
}

.home .lenta_detail .view {
    margin: 10px;
    display: flex;
    align-items: center;
}

.home .lenta .more{
    background: none;
    border: 1px solid darkgray;
    color: grey;
    
    border-radius: 5px;
    padding: 10px;
    margin: 20px auto;
}


.home .lenta .footer_btn{
    display: flex;
    justify-content: center;
}

