
:root {
    --mainColor: rgb(10,35,98);
  }

   
  .admin .admin_username .icon:hover{
    background: gainsboro;
  }
  

.admin .phone-item{
    margin: 5px;
    padding: 5px;
    display: flex;
    width: max-content;
    align-items: center;
}


.admin .logout_container button{
    border: none;
    padding: 5px;
    width: 100%;
    transition: 0.3s;    
}


.admin .logout_container button:hover{
    background: grey;
}



.admin{
   
    height: 100%;
}


.admin .content{
    padding: 10px;
}

.admin .menu .items{
    display: grid;
    
}

.admin td{
    border-bottom: 1px solid gainsboro;
    padding: 2px 10px;
}

.admin .locations td:nth-child(3){
    text-align: center;
}



.edit{
    width: max-content;
   
    background: white;
   
    padding: 10px;
    box-shadow: 2px 2px 20px grey;
    border-radius: 10px;
 
}


.close-icon{
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 10px;
    padding: 2px;
   
}

.close-icon:hover{
    background: gainsboro;
}



 .name-field-form{
    display: grid;
    grid-template-columns: max-content auto;
    width: max-content;
    min-width: 400px;
    margin: 5px;
  
 }


 .modal button{
    margin: 2px;
    border-radius: 5px;
    background: dodgerblue;
    color: white;
    border: none;
    padding: 5px;
 }



.admin .pagination{
    display: flex;
    justify-content: center;
    color: grey;
    align-items: center;
    padding: 5px;
}

.admin .pagination button:hover{
    background: gainsboro;
   
}

.modal{
    position: absolute;
    margin: auto;
    right: 0px;
    left: 0px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    max-width: 400px;
    box-shadow: 0px 0px 10px darkgray;
}

.admin .filter{
    width: max-content;
    padding: 10px;
    border-radius: 10px;
    background: white;
    border: 1px solid gainsboro;
    margin: 10px;
    position: absolute;
    box-shadow: 0px 0px 10px darkgray;
}

.admin  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.downloading h3{
    text-align: center;
    position: absolute;
    background: white;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 2px 2px 10px gray;
    color: grey;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 50%;
}




.admin  .workTime{
    display: grid;
    grid-template-columns: auto auto;
}

.admin  .workTime *{
    margin: 2px;
}


.admin .storeDetail .products{
    display: flex;
    flex-wrap: wrap;
    
}

.admin .storeDetail .productCard label{
    background: rgb(10,35,98);
    color: white;
    text-decoration: none;
}
.admin .storeDetail .productCard * {
    font-size: 12px;
    text-align: center;
}
.admin .storeDetail .productCard{
    display: grid;
    margin: 5px;
}

.admin .storeDetail .productCard img{
    height: 120px;
    width: 120px;
    border: 1px solid gainsboro;
    object-fit: contain;
}

.admin .storeDetail .phones label{
    background: gainsboro;
    padding: 5px;
    border-radius: 5px;
    margin: 2px;
}

.admin .storeDetail .phones{
    display: grid;
}


.admin .storeDetail .phoneRemoveIcon:hover{
    color: grey;
    background: gainsboro;
    border-radius: 10px;
}

.admin .storeDetail .phoneRemoveIcon{
    color: red;
    float: right;
    margin: auto;
    cursor: pointer;
    width: 25px;
    height: 25px;
}


.admin .storeDetail .addPhoneIcon:hover{
    background: grey;
}

.admin .storeDetail .addPhoneIcon{
    background: gainsboro;
    padding: 2px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 5px ;
}


.admin .storeDetail .customer:hover{
    background: grey;
}

.admin .storeDetail .customer{
    background: gainsboro;
    border-radius: 5px;
    padding: 2px;
    vertical-align: middle;
    text-decoration: none;
    color: black;
}



.admin .view label{
    display: flex;
    align-items: center;
    background: gainsboro;
    padding: 5px 10px;
    border-radius: 5px;

}
.admin .view >*{
    margin: 5px;
}
.admin .view{
    display: flex;
    margin: 10px;
    
}
 
.admin .imageCard .actions *{
    color: grey;
    border: 1px solid grey;
    border-radius: 50%;
    padding: 2px;
}


.admin .imageCard{
    display: grid;
    width: max-content;
    height: max-content;
    margin: 5px;
   
}


.admin .fields a{
    width: max-content;
}


.admin .staticData{
    display: grid;
    margin: 10px;
    justify-content: center;
    text-align: center;
}




.openMenu{
    width: max-content;
}

.hiddenMenu{
    width: 0px;
}


