.admin .flat_cards{
    display: flex;
    flex-wrap: wrap;
}

.admin .flat_card{
    border: 1px solid gainsboro;
    width: 200px;
    height: max-content;
    display: grid;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    background: gainsboro;
}

.admin .flat_card label {
    font-size: 13px;
}


.admin .flat_card img{
    width: 100%;
    height: 170px;
    object-fit: cover;
}

.admin .flat_card a{
    text-decoration: none;
    padding: 10px;
    font-size: 13px;
    transition: 0.3s;
}

.admin .flat_card a:hover{
    color: gainsboro;
}


.admin .flat_card .name{
    font-weight: bold;
}

.admin .flat_card * {
    color: rgb(10, 35, 98);
}

.admin .flat_detail .mainImage{
    height: 200px;
    margin: 5px;
    width: 200px;
    border: 1px solid gainsboro;
    object-fit: cover;
}

.admin .flat_detail .fields{
    display: grid;
    max-width: 400px;
    margin: auto;

}

.admin  .add_flat{
    position: absolute;
    background: white;
    display: grid;
    padding: 10px;
    border: 1px solid gainsboro;    
    margin: auto;
    left: 0px;
    right: 0px;
    max-width: 400px;
    box-shadow: 0px 0px 10px gainsboro;
    font-size: 13px;
    z-index: 2;
}

.admin .add_flat >* {
    margin: 5px;
}


.admin .add_flat .fields div > .icon{
    width: 20px;
    height: auto;
    background: gainsboro;
    border-radius: 5px;
    padding: 5px;
}

.admin .add_flat  .rdbtns{
    display: grid;
    grid-template-columns: auto auto;
    width: max-content;
}