.locationSelector .list .item{
    display: grid;
    grid-template-columns: max-content auto max-content;
    align-items: center;
}

.locationSelector .icon{
    border-radius: 5px;
    min-width: 40px;
    padding: 4px;
}

.locationSelector .close{
    border-radius: 50%;
    padding: 5px;
}



.locationSelector .parent{
    background: gainsboro;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    margin: 2px;
}


.locationSelector{
    /* position: fixed;
    margin: auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px darkgray;
    min-height: 300px;
    padding: 10px;
    min-width: 300px;
    left: 0px;
    right: 0px;
    max-width: 400px;
    top: 20%; */
}

.locationSelector .item{
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.locationSelector .list{
    overflow-y: auto;
    max-height: 400px;
}

