@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
/*  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: "Montserrat";
font-size: 13px;
}


:root {
  --color1: rgb(10,35,98);
}

input, select, textarea
{
  border: 1px solid gainsboro;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 0px;
  font-size: 14px;
}


html, .App, body {
  height: 100%;
}

#root{
  height: 100%;
}




